@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

* {
padding: 0;
margin: 0;
border: none;
}

body {
    font-family: 'Changa One', cursive;
    
    font-weight: 300;
    color: black;
}

h1 {
    font-family: 'Changa One', cursive;
    
    text-transform: uppercase;  
    letter-spacing: 6px;
    
    color: red;
}

#titlu {
    float: left;
    font-size: 230%;
}

#butoane {
    font-size: 100%;
    letter-spacing: 2px;  
}

#butoane li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#butoane a {
    text-decoration: none;
    color: inherit;
}