@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Noto+Serif+Khojki:wght@600&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: 'Noto Serif Khojki', serif;
    font-weight: 300;
    color: black;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
    font-family: 'Noto Serif Khojki', serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3a3a3a;
}
#titlu {
    float: left;
    font-size: 230%;
}
#Motocross-zoomeffect {
    height: 635px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#text,
text h2 {
    color: #fff;
}
#Motocross-image {
    height: 669px;
    width: 100%;
    background: url(../images/Motocross\ proiect.jpg) no-repeat center center ;
    animation-name: Motocross;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes Motocross {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}
#butoane {
    font-size: 100%;
    letter-spacing: 2px;
}
#butoane,
#titlu {
    line-height: 50px;
}
#butoane li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
#butoane a {
    text-decoration: none;
    color: inherit;
}
#butoane a:hover {
    border-bottom: 2px solid black;
}
#text>h2 {
    font-size: 80%;
    font-family: 'Noto Serif Khojki', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    border: 10px solid ;
    width: 200px;
    height: 150px;
    margin: 100px auto;
    background-color: black  ;
    text-align: center;  
}
#reguli-poze {
    clear: both;
    width: 100%;
    columns: 3; 
    line-height: 0;
    column-gap: 0px;
}
#reguli-poze img{
    width: 100%;
}
#task {
    letter-spacing: 4px;
    padding-left: 2rem;
    border-bottom: 4px solid #3a3a3a; 
}
.ratie {
    color: #3a3a3a;
    padding-right: 10px;
}
hr {
  margin: 1rem 1rem;
  color: black;
  background-color: #3a3a3a;
  height:2px;
  border-width:0;
}
@media screen and (max-width: 650px) {
  #reguli-poze {
    clear: both;
    width: 100%;
    columns: 1; 
    line-height: 0;
    column-gap: 0px;
}
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    
}

input,
label {
    margin: 0.4rem 0;
}
input, #name { 
    border: 3px solid #3a3a3a;
     }
    
     #password, input{
        display: block;
        border: 3px solid #3a3a3a;
     }
      
     #email, input {
        display: block;
        font-size: 12px;
        border: 3px solid #3a3a3a;
     }

 
    
   

